/* ------------------
fonts
---------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* ---------------------------
common styles or utilities 
-----------------------------*/

body {
  font-family: "Poppins", sans-serif;
  background-color: #d9dbfa;
  margin: 0px;
}
main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: white;
  width: 870px;
  padding: 35px;
  margin-top: 20px;
  border-radius: 10px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

/*-------------------
     Navigation Bar
--------------------*/

.navigation {
  right: 0px;
  height: 80px;
  background: rgb(111, 1, 255);
}
.navigation .logo img {
  width: 40.42px;
  height: 51px;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation-name,
.logo {
  display: flex;
}
.logo {
  position: absolute;
  left: 210px;
  top: 12px;
  font-size: 24px;
}
.navigation-name {
  position: absolute;
  right: 205px;
  top: 2.5px;
  font-size: 16px;
}
a {
  color: white;
  text-decoration: none;
  margin: 10px;
}
.anchors {
  margin-top: 23px;
}
.navigation-name img {
  width: 51px;
  height: 51px;
}

/* --------------------
top players
-------------------- */

.top-players {
  margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player img {
  width: 56px;
  height: 56px;
}
.player {
  display: flex;
  align-items: center;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}

/* --------------------
 top blogs styles
 -------------------- */

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  position: relative;
  bottom: 16px;
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  font-size: 16px;
  color: #9f9f9f;
}
.blog-author a {
  text-decoration: none;
  color: #562eff;
}

/* ----------------------
    Latest Courses
    ---------------------- */

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}
.course {
  width: 253px;
  height: 335px;
  margin-left: 9px;
  border-radius: 10px;
  box-shadow: 2px 4px 11px rgb(154, 163, 172);
}
.course-detail {
  padding: 14px;
}
.course .course-banner img {
  width: 224px;
  height: 104px;
  padding: 15px;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.fa-star {
  color: #ffc014;
  font-size: 12px;
}
.course-duration {
  background-color: rgba(255, 127, 80, 0.623);
  width: 90px;
  padding: 5px 5px 4px 10px;
  border-radius: 45px;
}
.course-time {
  position: relative;
  left: 5px;
}
/* ------------------
  Media Queries
---------------------*/

/* Mobile Devices */

@media only screen and (max-width: 688px) {
  .container {
    width: 80%;
  }
  .logo {
    position: relative;
    left: 10px;
    top: 12px;
    font-size: 19px;
  }
  .navigation-name {
    position: relative;
    right: 1px;
    top: 7px;
    font-size: 12px;
    margin-right: 5px;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .course {
    margin-bottom: 20px;
  }
  .player,
  .blog {
    flex-direction: column;
  }
}

/* Tablet Devices */

@media only screen and (min-width: 689px) and (max-width: 991px) {
  .container {
    width: 70%;
  }
  .logo {
    position: relative;
    left: 10px;
    top: 12px;
    font-size: 19px;
  }
  .navigation-name {
    position: relative;
    right: 1px;
    top: 7px;
    font-size: 12px;
    margin-right: 5px;
  }
  .players,
  .courses,
  .blogs {
    grid-template-columns: repeat(2, 1fr);
  }
}

footer {
  background-color: #5da3fa;
  height: 60px;
  margin: 0px;
  padding: 0px;
}
.footer {
  color: white;
  font-weight: 500;
  text-align: center;
  padding-top: 18px;
}